/* 
    Created on : Mar 8, 2017, 12:04:35 AM
    Author     : madgaksha
    Author     : CaptainMalzbier
    Author     : cherry-mint
    Author     : schneckenschleim
*/
/* ================================ Imports ==================================*/
/* The 3-Clause BSD License
 * 
 * SPDX short identifier: BSD-3-Clause
 *
 * Note: This license has also been called the "New BSD License" or "Modified
 * BSD License". See also the 2-clause BSD License.
 * 
 * Copyright 2015 The Moose Team
 * 
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 * 
 * 1. Redistributions of source code must retain the above copyright notice,
 * this list of conditions and the following disclaimer.
 * 
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 * this list of conditions and the following disclaimer in the documentation
 * and/or other materials provided with the distribution.
 * 
 * 3. Neither the name of the copyright holder nor the names of its contributors
 * may be used to endorse or promote products derived from this software without
 * specific prior written permission.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 */
/* 
    Created on : Apr 5, 2017, 10:45:38 AM
    Author     : The MOOSE team
*/
.mixin-border {
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 4px;
}
.mixin-shadow {
  box-shadow: 0px 4px 2px #cacaca;
}
.mixin-footer {
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
/* The 3-Clause BSD License
 * 
 * SPDX short identifier: BSD-3-Clause
 *
 * Note: This license has also been called the "New BSD License" or "Modified
 * BSD License". See also the 2-clause BSD License.
 * 
 * Copyright 2015 The Moose Team
 * 
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 * 
 * 1. Redistributions of source code must retain the above copyright notice,
 * this list of conditions and the following disclaimer.
 * 
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 * this list of conditions and the following disclaimer in the documentation
 * and/or other materials provided with the distribution.
 * 
 * 3. Neither the name of the copyright holder nor the names of its contributors
 * may be used to endorse or promote products derived from this software without
 * specific prior written permission.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 */
/* 
    Created on : Apr 5, 2017, 10:45:45 AM
    Author     : The MOOSE team
*/
/* ========================= GENERAL COMPONENTS ============================= */
.counter-main-inc {
  counter-increment: main;
}
.counter-main-before::before {
  content: counter(main);
}
.counter-main-after::after {
  content: counter(main);
}
.jscroll-loading {
  text-align: center;
  background: url(../other/loading.gif) no-repeat center;
  background-size: 3em 3em;
  padding: 5px 0;
  margin-bottom: 10px;
  font-style: italic;
  text-indent: -9999px;
}
.white-box {
  color: #000;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
/*.col-lg-12 {
    padding-left: 90px;
    padding-right: 90px;
}*/
.top-space {
  margin-top: 3%;
}
/* ======================= MAIN STYLING SECTION ============================= */
.moose-body {
  font-family: 'Overpass', sans-serif;
  background-color: #fff;
  /* Fade in on page load */
  animation: pageload 0.35s;
  /* forum */
}
@keyframes pageload {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.moose-body .moose-white {
  padding: 0.5em;
  background-color: #fff;
  border-color: #e4e4e4;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 4px;
}
.moose-body a.navbar-brand {
  text-transform: uppercase;
}
.moose-body .navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
.moose-body .navbar-default {
  background-color: #0080ff;
  border: none;
  background-image: none;
  border-radius: 0px;
  z-index: 99;
  box-shadow: 0px 4px 2px #cacaca;
}
.moose-body .navbar-default .navbar-brand,
.moose-body .navbar-default .navbar-nav > li > a {
  color: #fff;
}
.moose-body .navbar-default .navbar-brand:focus {
  color: #4e4e4e;
}
.moose-body .navbar-default .navbar-nav > .active > a,
.moose-body .navbar-default .navbar-nav > .active > a:focus,
.moose-body .navbar-default .navbar-nav > .active > a:hover {
  color: #4e4e4e;
  background-color: #aaddff;
  background-image: none;
}
.moose-body .navbar-default .navbar-nav a:hover {
  color: #4e4e4e;
  background-image: none;
}
.moose-body #page-content-wrapper {
  margin-top: 80px;
}
.moose-body .profile-avatar-area {
  width: 100%;
  margin-top: 2em;
  margin-bottom: -2em;
  display: inline-block;
  position: relative;
  text-align: center;
  bottom: -2em;
}
.moose-body .profile-avatar-area .avatar-img-wrapper {
  display: inline-block;
}
.moose-body .profile-avatar-area .avatar-img-wrapper .avatar-img {
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  border-color: #fff;
  background: #fff;
  bottom: -3em;
  height: 8em;
  box-shadow: 0px 4px 2px #cacaca;
}
.moose-body .forum-thread {
  height: 30px;
}
.moose-body .badge {
  margin-left: 4px;
  display: table-cell;
  background-color: #0080ff;
  min-height: 10px;
  padding: 9px 7px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.moose-body .cardlist-main {
  /* border radius soll auf 0px sein,jedoch wurde Urspruch nicht gefunden */
}
.moose-body .cardlist-main .cardlist-card {
  margin: 3px;
}
@media (min-width: 768px) {
  .moose-body .cardlist-main .cardlist-card {
    height: 5em;
  }
}
.moose-body .cardlist-main .cardlist-text {
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
  word-break: break-word;
}
.moose-body .cardlist-main .cardlist-wrapper {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.moose-body .cardlist-main .cardlist-link {
  display: table;
  height: 100%;
  line-height: 4em;
  width: 100%;
  color: #0080ff;
}
.moose-body .cardlist-main .cardlist-link:hover {
  color: #fff;
  text-decoration: none;
}
.moose-body .cardlist-main .cardlist-card {
  color: #949494;
  border-radius: 0px;
  transition: background-color 0.2s;
}
.moose-body .cardlist-main .cardlist-card:hover {
  background-color: #0080ff;
  border-color: #0040ff;
}
.moose-body .cardlist-main .cardlist-card:hover a {
  color: #fff;
  text-decoration: none;
}
.moose-body .list-group-item {
  min-height: 50px;
}
.moose-body .list-group-item:first-child,
.moose-body .list-group-item:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.moose-body .list-group-item:last-child {
  margin-bottom: 50px;
}
.moose-body .thread-header .btn-delete {
  margin-bottom: 1em;
}
.moose-body .wrapper-post .post-body img {
  max-width: 98%;
}
.moose-body .editable .editable-hint {
  font-size: 0.4em;
  vertical-align: middle;
  color: #888;
}
.moose-body .editable-hint-hover {
  border-bottom: none;
}
.moose-body .profile {
  padding: 1em;
  padding-top: 3em;
}
.moose-body .profile .profile-name {
  color: #000;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}
.moose-body .profile .profile-info-user {
  color: #949494;
  text-align: center;
  line-height: 1em;
}
.moose-body .footer {
  display: table;
  margin-top: 2em;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: #f5f5f5;
}
.moose-body .footer #before_button_distance {
  margin-bottom: 1em;
}
.moose-body .footer #footer {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 0.5em;
  padding-bottom: 1em;
}
.moose-body .footer #footer_left {
  text-align: left;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
.moose-body .footer #footer_center {
  text-align: left;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
.moose-body .footer #footer_right {
  text-align: left;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
.moose-body .footer .footer-button {
  width: 90%;
  padding: 9px;
}
.moose-body .footer ul {
  list-style: none;
  margin: 0;
}
.moose-body .footer ul a {
  color: #000;
}
.moose-body .btn-default {
  background-color: #fff;
  background-position: 0 0px;
  background-image: none;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 4px;
}
.moose-body .btn-default:hover {
  background-color: #0080ff;
  border-color: #0040ff;
  color: #fff;
}
.moose-body .bold {
  font-weight: bold;
  margin-bottom: 0.5em;
}
.moose-body #dashboard ul.mensa-meal-list {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
}
.moose-body #dashboard .mensa-meal-img {
  max-width: 132px;
  margin-left: auto;
  display: block;
  margin-right: auto;
  border-radius: 50%;
  border: 6px dotted #0080ff;
}
.moose-body .wrapper-search {
  width: 100%;
}
.moose-body .clearable-input .clearable-trigger {
  z-index: 10;
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 1em;
  margin: auto;
  font-size: 1em;
  cursor: pointer;
  color: #ccc;
}
.moose-body .new-thread,
.moose-body .new-post {
  border-top: 2px solid #0080ff;
  margin-top: 5%;
  margin-bottom: 2%;
  padding: 1%;
}
.moose-body .panel {
  border-radius: 0;
}
.moose-body .panel-default > .panel-heading {
  background-image: none;
  background-color: #e4e4e4;
  border-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.moose-body .panel-body {
  padding: 30px;
  padding-top: 17px;
}
.moose-body .panel-title {
  font-size: 15px;
  color: inherit;
}
.moose-body .panel-heading img {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  background: #fff;
}
/*# sourceMappingURL=090-master.css.map */