/* 
    Created on : Mar 8, 2017, 12:04:35 AM
    Author     : madgaksha
    Author     : CaptainMalzbier
    Author     : cherry-mint
    Author     : schneckenschleim
*/

/* ================================ Imports ==================================*/

@import "../less-import/LESSPrefixer";
@import "../less-import/moose-mixins";
@import "../less-import/moose-variables";

/* ========================= GENERAL COMPONENTS ============================= */

.counter-main-inc {
    counter-increment: main;
}

.counter-main-before::before {
    content: counter(main);
}

.counter-main-after::after {
    content: counter(main);
}

.jscroll-loading {
    text-align: center;
    background: url(../other/loading.gif) no-repeat center;
    background-size: 3em 3em;
    padding: 5px 0;
    margin-bottom: 10px;
    font-style: italic;
    text-indent: -9999px;
}

.white-box {
    color: @black;
}

/* ======================= MAIN STYLING SECTION ============================= */

body {
    font-family: 'Overpass', sans-serif;
    background-color: @white;

    /* Fade in on page load */
    .mixin-fade(pageload, 0.35s, 0, 1);
    
    /* Make space for the footer. */
    > #wrapper {
        margin-bottom: 60px;   
    }
    
    .moose-white {
        padding: 0.5em;
        background-color: @white;
        border-color: @lightgrey;
        .mixin-border;
    }
    
    a.navbar-brand {
        text-transform: uppercase;
    }
    
    .profile-avatar-area {
        width: 100%;
        display: inline-block; 
        position: relative;
   
        .avatar-img-wrapper {
            width: 8em;
            margin-left: auto;
            margin-right: auto;

            .avatar-img {
                border-radius: 50%;
                border-style: solid;
                box-shadow: 0px 4px 2px @grey;
                border-width: 4px;
                border-color: @white;
                background: @white;
                bottom: -3em;
                height: 8em;
            }
        }
    }

    .wrapper-post {
        .post-body {
            img {
                max-width: 98%;
            }
        }
    }
    
    .profile {
        .profile-name {
            color: @black;
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
        }
        .profile-info-user{
            color: @darkgrey;
            text-align: center;
            line-height: 1em;
        }
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: #f5f5f5;
        z-index: 100;
    }
}