/* 
    Created on : Mar 8, 2017, 12:04:35 AM
    Author     : madgaksha
    Author     : CaptainMalzbier
    Author     : cherry-mint
    Author     : schneckenschleim
*/

/* ================================ Imports ==================================*/

@import "../less-import/LESSPrefixer";
@import "../less-import/moose-mixins";
@import "../less-import/moose-variables";

/* ========================= GENERAL COMPONENTS ============================= */

.counter-main-inc {
    counter-increment: main;
}

.counter-main-before::before {
    content: counter(main);
}

.counter-main-after::after {
    content: counter(main);
}

.jscroll-loading {
    text-align: center;
    background: url(../other/loading.gif) no-repeat center;
    background-size: 3em 3em;
    padding: 5px 0;
    margin-bottom: 10px;
    font-style: italic;
    text-indent: -9999px;
}

.white-box {
    color: @black;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

/*.col-lg-12 {
    padding-left: 90px;
    padding-right: 90px;
}*/
.top-space {
    margin-top: 3%;
}


/* ======================= MAIN STYLING SECTION ============================= */

.moose-body {
    font-family: 'Overpass', sans-serif;
    background-color: @white;

    /* Fade in on page load */
    .mixin-fade(pageload, 0.35s, 0, 1);
        
    .moose-white {
        padding: 0.5em;
        background-color: @white;
        border-color: @lightgrey;
        .mixin-border;
    }
    
    a.navbar-brand {
        text-transform: uppercase;
    } 
    
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    .navbar-default {
        background-color: @blue;
        border: none;
        background-image: none;
        border-radius: 0px;
        z-index: 99;
        .mixin-shadow;
        
        .navbar-brand, .navbar-nav > li > a {
            color: @white;
        }
        
        .navbar-brand:focus {
            color: @darker-darkgrey;
        }
        
        .navbar-nav {
            >.active {    
                >a, >a:focus, >a:hover {
                    color: @darker-darkgrey;
                    background-color: @lighter-blue;
                    background-image: none;
                }
                
            }
            a:hover {
                color: @darker-darkgrey;
                background-image: none; 
            }
        }
    }
    
    #page-content-wrapper {
        margin-top: 80px;
    }
    
    .profile-avatar-area {
        width: 100%;
        margin-top: 2em;
        margin-bottom: -2em;
        display: inline-block; 
        position: relative;
        text-align: center;
        bottom: -2em;
   
        .avatar-img-wrapper {
            display: inline-block;

            .avatar-img {
                border-radius: 50%;
                border-style: solid;
                border-width: 4px;
                border-color: @white;
                background: @white;
                bottom: -3em;
                height: 8em;
                .mixin-shadow;
            }
        }
    }

    .forum-thread {
        height: 30px;
    }
    
    .badge {
        margin-left: 4px;
        display: table-cell;
        background-color: @blue;
        min-height: 10px;
        padding: 9px 7px;
        border-radius: 100%;
        width: 30px;
        height: 30px;
    }
    
    .cardlist-main {
        .cardlist-card {
            margin: 3px;
            @media (min-width: 768px) {
                height: 5em;
            }
        }
       
        .cardlist-text {
            display: table-cell;
            vertical-align: middle;
            line-height: normal;
            word-break: break-word;
        }
     
        .cardlist-wrapper {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 0;
            list-style-type: none;
        }
        .cardlist-link {
            display: table;
            height: 100%;
            line-height: 4em;
            width: 100%;
            color: @blue;
        }
        
        .cardlist-link:hover {
            color: @white;
            text-decoration: none;
        }
        
        /* border radius soll auf 0px sein,jedoch wurde Urspruch nicht gefunden */
        .cardlist-card{
            color: @darkgrey;
            border-radius: 0px;
            transition: background-color 0.2s;
        }
        .cardlist-card:hover {
            a {
                color: @white;
                text-decoration: none;
            }
            background-color: @blue;
            border-color: @blue-lighter;
        }
    }
    
    .list-group-item {
        min-height: 50px;

        
        &:first-child, &:last-child {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        
        &:last-child {
            margin-bottom: 50px;
        }
    }
    
    
    
    .thread-header {
        .btn-delete {
            margin-bottom: 1em;
        }
    }
    
    .wrapper-post {
        .post-body {
            img {
                max-width: 98%;
            }
        }
    }
    
    .editable {
        .editable-hint {
            font-size: 0.4em;
            vertical-align: middle;
            color: #888;
        }
    }
    
    .editable-hint-hover {
        border-bottom: none
    }
    
    .profile {
        padding: 1em;
        padding-top: 3em;
        .profile-name {
            color: @black;
            font-size: 1.4em;
            font-weight: bold;
            text-align: center;
        }
        .profile-info-user{
            color: @darkgrey;
            text-align: center;
            line-height: 1em;
        }
    }
    
    .footer {
        display: table;
        margin-top: 2em;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 120px;
        background-color: #f5f5f5;
        
        #before_button_distance {
               margin-bottom: 1em;
        }
        
        #footer {
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            padding: 0.5em;
            padding-bottom: 1em;
        }
        
        #footer_left {
            text-align: left;
            .mixin-footer;
        }
        #footer_center {
            text-align: left;
            .mixin-footer;
           
        }
        #footer_right {
            text-align: left;
            .mixin-footer;
            
        }
        
        .footer-button {
            width: 90%;
            padding: 9px;
        }
        
        ul {
            list-style: none; 
            margin: 0;
            
            a{
                color: @black;
            }
        }
    }
    
    .btn-default {
        background-color: @white;
        background-position: 0 0px;
        background-image: none;
        border-radius: 0;
        .mixin-border;
    }
    
    .btn-default:hover{
        background-color: @blue;
        border-color: @darker-blue;
        color: @white;
    }
    
    .bold{
        font-weight: bold;
        margin-bottom: 0.5em;
    }
    
    .wrapper-search {
        width: 100%;
    }
    
    .clearable-input {
        .clearable-trigger {
            z-index: 10;
            position: absolute;
            right: 5px;
            top: 0;
            bottom: 0;
            height: 1em;
            margin: auto;
            font-size: 1em;
            cursor: pointer;
            color: #ccc;
        }
    }

    /* user list */
    #userlist_table {
        .cell-image {
            max-width: 64px;
        }
    }

    /* dashboard */
    #dashboard_panels {
        ul.mensa-meal-list {
            list-style-type: none;
            border-bottom: 1px solid #ccc;
        }
        .mensa-meal-img {
            max-width: 132px;
            margin-left: auto;
            display: block;
            margin-right: auto;
            border-radius: 50%;
            border: 6px dotted #0080ff;
        }
        .db-schedule-panel {
            overflow-y: hidden;
        }        
        .panel-default > .panel-heading {
            background-color: #f7fbff;
        }  
    }
    /* Dashboard view separate panels */
    #dashboard {
        @media (max-width: @screen-lg-min) {
            .panel-body {
                min-height: 340px;
            }
        }
        @media (min-width: @screen-lg-min) {
            .panel-body {
                height: 30vh;
                overflow-y: auto;
            }
        }
    }
    /* Dashboard view sliding panels */
    #dashboard_carousel {
        .dashboard-panel {
            overflow-y: hidden;
        }
        .panel-body {
            height: 60vh;
            overflow-y: auto;
        }
    }
    .carousel {
        .carousel-control.left {
            background-image: -webkit-linear-gradient(left, rgba(0, 128, 255, .25) 0%, rgba(0, 128, 255, .0001) 100%);
            background-image: -o-linear-gradient(left, rgba(0, 128, 255, .25) 0%, rgba(0, 128, 255, .0001) 100%);
            background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 128, 255, .25)), to(rgba(0, 128, 255, .0001)));
            background-image: linear-gradient(to right, rgba(0, 128, 255, .25) 0%, rgba(0, 128, 255, .0001) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#400080FF', endColorstr='#00000000', GradientType=1);
        }
        .carousel-control.right {
            background-image: -webkit-linear-gradient(left, rgba(0, 128, 255, .0001) 0%, rgba(0, 128, 255, .25) 100%);
            background-image: -o-linear-gradient(left, rgba(0, 128, 255, .0001) 0%, rgba(0, 128, 255, .25) 100%);
            background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 128, 255, .0001)), to(rgba(0, 128, 255, .25)));
            background-image: linear-gradient(to right, rgba(0, 128, 255, .0001) 0%, rgba(0, 128, 255, .25) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#400080FF', GradientType=1);
        }        

        .carousel-indicators {
            bottom: 10px;
            margin-bottom: 10px;
        }
        .carousel-indicators li {
            border-color:#0080ff;
        }
        .carousel-indicators .active {
            background-color:#0080ff;
        }
        .carousel-control {
            width: 5%;
            color:#fff;
        }
        .panel-heading {
            text-align: center;
        }
        .panel-body {
            max-width: 90%;
            margin-bottom: 25px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    /* forum */
    .new-thread, .new-post {
        border-top: 2px solid @blue;
        margin-top: 5%;
        margin-bottom: 2%;
        padding: 1%;
    }
       
    .panel {
        border-radius: 0;
    }
    
    .panel-default > .panel-heading {
        background-image: none;
        background-color: @lightgrey;
        border-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    
    .panel-body {
        padding: 30px;
        padding-top: 17px;
    }
    
    .panel-title {
        font-size: 15px;
        color: inherit;
    }
    
    .panel-heading img {
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 50%;
        border-style: solid;
        border-width: 2px;
        border-color: #fff;
        background: #fff;
    }
}
