/* 
    Created on : Mar 8, 2017, 12:04:35 AM
    Author     : madgaksha
    Author     : CaptainMalzbier
    Author     : cherry-mint
    Author     : schneckenschleim
*/

/* ================================ Imports ==================================*/

@import "../less-import/LESSPrefixer";
@import "../less-import/moose-mixins";
@import "../less-import/moose-variables";

/* ========================= GENERAL COMPONENTS ============================= */

.counter-main-inc {
    counter-increment: main;
}

.counter-main-before::before {
    content: counter(main);
}

.counter-main-after::after {
    content: counter(main);
}

.jscroll-loading {
    text-align: center;
    background: url(../other/loading.gif) no-repeat center;
    background-size: 3em 3em;
    padding: 5px 0;
    margin-bottom: 10px;
    font-style: italic;
    text-indent: -9999px;
}

.white-box {
    color: @black;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

/* ======================= MAIN STYLING SECTION ============================= */

body {
    font-family: 'Overpass', sans-serif;
    background-color: @white;

    /* Fade in on page load */
    .mixin-fade(pageload, 0.35s, 0, 1);
    
    /* Make space for the footer. */
    > #wrapper {
        margin-bottom: 60px;   
    }
    
    .moose-white {
        padding: 0.5em;
        background-color: @white;
        border-color: @lightgrey;
        .mixin-border;
    }
    
    a.navbar-brand {
        text-transform: uppercase;
    } 
    
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    .navbar-default {
        background-color: @blue;
        border: none;
        background-image: none;
        border-radius: 0px;
        z-index: 99;
        .mixin-shadow;
        
        .navbar-brand, .navbar-nav > li > a {
            color: @white;
        }
        
        .navbar-brand:focus {
            color: @darker-darkgrey;
        }
        
        .navbar-nav {
            >.active {    
                >a, >a:focus, >a:hover {
                    color: @darker-darkgrey;
                    background-color: @lighter-blue;
                    background-image: none;
                }
                
            }
            a:hover {
                color: @darker-darkgrey;
                background-image: none; 
            }
        }
    }
    
    #page-content-wrapper {
        margin-top: 80px;
    }
    
    .profile-avatar-area {
        width: 100%;
        margin-top: 2em;
        margin-bottom: -2em;
        display: inline-block; 
        position: relative;
        text-align: center;
        bottom: -2em;
   
        .avatar-img-wrapper {
            display: inline-block;

            .avatar-img {
                border-radius: 50%;
                border-style: solid;
                border-width: 4px;
                border-color: @white;
                background: @white;
                bottom: -3em;
                height: 8em;
                .mixin-shadow;
            }
        }
    }
 
    .cardlist-main {
/*        display: inline-block;
        margin: auto;*/
        .cardlist-card {
            margin: 3px;
            @media (min-width: 768px) {
                height: 5em;
            }
        }
        .badge {
            margin-left: 4px;
            display: table-cell;
        }
        .cardlist-text {
            display: table-cell;
            vertical-align: middle;
            line-height: normal;
            word-break: break-word;
        }
        .cardlist-wrapper {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 0;
            list-style-type: none;
        }
        .cardlist-link {
            display: table;
            height: 100%;
            line-height: 4em;
            width: 100%;
        }
        
        /* border radius soll auf 0px sein,jedoch wurde Urspruch nicht gefunden */
        .cardlist-card{
            color: #949494;
            border-radius: 0px;
            transition: background-color 0.2s;
        }
        .cardlist-card:hover {
            a {
                color: #ffffff;
            }
            background-color: #0080ff;
            border-color: #0040ff;
        }
    }
    
    .wrapper-post {
        .post-body {
            img {
                max-width: 98%;
            }
        }
    }
    
    .editable {
        .editable-hint {
            font-size: 0.4em;
            vertical-align: middle;
            color: #888;
        }
    }
    
    .editable-hint-hover {
        border-bottom: none
    }
    
    .profile {
        padding: 1em;
        padding-top: 3em;
        .profile-name {
            color: @black;
            font-size: 1.4em;
            font-weight: bold;
            text-align: center;
        }
        .profile-info-user{
            color: @darkgrey;
            text-align: center;
            line-height: 1em;
        }
    }
    
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 110px;
        background-color: #f5f5f5;
        z-index: 100;
        
        #footer{
            margin-left: auto;
            margin-right: auto;
            width: 60%;
            padding: 0.5em;
            padding-bottom: 1em;
        }
        
        #footer_left{
            float: left;
            width: 40%;
            border-right-style: solid;
            border-right-width: 2px;
            border-color: @white;
            .mixin-footer;
        }
        #footer_center{
            float: left;
            width: 30%;
            text-align: center;
            .mixin-footer;
        }
        #footer_right{
            float: right;
            width:30%;
            height: 100px;
            text-align: left;
          
            border-left-style: solid;
            border-left-width: 2px;
            border-color: @white;
            .mixin-footer
            ul, li{
               list-style: none; 
            }
            
        }
    }
    
    .button{
        background-color: @white;
        .mixin-border;
    } 
    .button:hover{
            background-color: @blue;
            border-color: @darker-blue;
            color: @white;
        }
    
    #dashboard {
        ul.mensa-meal-list {
            list-style-type: none;
            border-bottom: 1px solid #ccc;
        }

        .mensa-meal-img {
            max-width: 132px;
            margin-left: auto;
            display: block;
            margin-right: auto;
            border-radius: 50%;
            border: 6px dotted #0080ff;
        }
    }
}
