/.idea
**/*~
**/*.log
/nbproject/private/
/vendor
/build
/docs/build
/test/report
/private/config
/FIRST_INSTALL 
/node_modules
/resource/build/js/babel
/private/test/wdio/report
/private/test/wdio/screen