/.idea
/.vagrant
**/*~
**/*.log
/nbproject/private/
/vendor
/build
/html
/docs/build
/test/report
/private/config
/private/test/wdio.conf.js
/FIRST_INSTALL 
/node_modules
/resource/build/js/babel
/private/test/report
/private/test/wdio/download
/private/test/wdio/report
/private/test/wdio/allure-report
/private/test/wdio/screen
/tmp
/puphpet/config-custom.yaml
/private/db/DbalAdapter.php
/npm-shrinkwrap.json